/* Fonts */

@font-face {
  font-family: "Press Start 2P";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/press-start-2p-v14-latin-ext_latin-regular.eot"),
    url("../fonts/press-start-2p-v14-latin-ext_latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/press-start-2p-v14-latin-ext_latin-regular.woff2")
      format("woff2"),
    url("../fonts/press-start-2p-v14-latin-ext_latin-regular.woff")
      format("woff"),
    url("../fonts/press-start-2p-v14-latin-ext_latin-regular.ttf")
      format("truetype"),
    url("../fonts/press-start-2p-v14-latin-ext_latin-regular.svg#PressStart2P");
}

/* Fonts */
